---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import FolioCard from '..//components/FolioCard.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	
<div  class="flex flex-col gap-2 max-w-7xl max-auto">
	<div class="min-h-[70vh] flex flex-col gap-6 justify-center items-center">
		<h1 class="sm:text-5xl text-4xl font-bold text-center sm:px-0 px-10 sm:max-w-[15ch] max-w-[20ch]">A designer that actually gets it</h1>
		<p class="text-center text-2xl max-w-[30ch]">Helping your Startup with Bold Branding and Web Design that converts</p>
	</div>
	<div class="grid sm:grid-cols-3 grid-cols-1 gap-2 sm:px-0 px-4">
	<FolioCard role="gridcell" tabindex="0" aria-label="Grid item 1" title="Bazinga AI" backgroundColor="#c9371e" folioImage="./66e958e5a0870c6a0604cfc3_semrus.avif" />	
	<FolioCard role="gridcell" tabindex="0" aria-label="Grid item 2" title="Writetic" backgroundColor="#3d0083" folioImage="./66e947043b06600356c7ddf3_openlm.avif" />	
	<FolioCard role="gridcell" tabindex="0" aria-label="Grid item 3" title="Nemesysco" backgroundColor="#00132f" folioImage="./66f52fc6070a0676141ab3f0_writetic.avif" />	
	<FolioCard role="gridcell" tabindex="0" aria-label="Grid item 4" title="OpenLM" backgroundColor="#0029a5" folioImage="./66f561b401c85bf734cc8cf7_Automaton.avif" />	
	<FolioCard role="gridcell" tabindex="0" aria-label="Grid item 5" title="Semrush" backgroundColor="#701203" folioImage="./66f53580cf95b40fbde957e0_Nemesysco.avif" />		
	<FolioCard role="gridcell" tabindex="0" aria-label="Grid item 6" title="Automaton AI" backgroundColor="#460572" folioImage="./66f53580cf95b40fbde957e0_Nemesysco.avif" />		
	</div>	
</div>
</Layout>
