---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import FolioCard from '..//components/FolioCard.astro';
import Testimonial from '../components/Testimonial.astro';
import ContactMe from '../components/ContactMe.astro';
import  data  from '../data.js';
	

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<div  class="flex flex-col gap-2 max-w-7xl mx-auto">
	<div id="hero" class="min-h-[50vh] flex flex-col gap-6 justify-center items-center">
		<h1 class="sm:text-5xl text-4xl font-bold text-center sm:px-0 px-10  max-w-[17ch]">Finally, a designer that actually gets it</h1>
		<p class="text-center sm:text-2xl text-xl max-w-[30ch]">Helping your Startup with Bold Branding and Web Design that converts</p>
	</div>
	<div id="foliocards-grid" class="grid sm:grid-cols-2 lg:grid-cols-3 grid-cols-1 sm:gap-2 gap-4 px-4">
		<FolioCard
			link="./projects/bazinga"
			role="gridcell"
			tabindex="0" aria-label="Grid item 1"
			title="Bazinga AI"
			projectRole="Brand Identity • Web Design / Development"
			projectDate="2025"
			backgroundColor="#c9371e"
			folioImage="./projects/bazinga/bazinga-tmb.avif" />
		<FolioCard
			link="./projects/writetic"
			role="gridcell"
			tabindex="0" aria-label="Grid item 2"
			title="Writetic"
			projectRole="Marketing Design • Web Design"
			projectDate="2024"
			backgroundColor="#3d0083"
			folioImage="./projects/writetic/writetic-tmb.avif" />
		<FolioCard
			link="./projects/nemesysco"
			role="gridcell"
			tabindex="0" aria-label="Grid item 3"
			title="Nemesysco"
			projectRole="UI UX Design"
			projectDate="2023"
			backgroundColor="#00132f"
			folioImage="./projects/nemesysco/nemesysco-tmb.avif" />
		<FolioCard
			link="./projects/openlm"
			role="gridcell"
			tabindex="0" aria-label="Grid item 4"
			title="OpenLM"
			projectRole="Web Design"
			projectDate="2021"
			backgroundColor="#0029a5"
			folioImage="./projects/openlm/openlm-tmb.avif" />
		<FolioCard
			link="./projects/semrush"
			role="gridcell"
			tabindex="0" aria-label="Grid item 5"
			title="Semrush"
			projectRole="Marketing Design • Web Design"
			projectDate="2024"
			backgroundColor="#701203"
			folioImage="./projects/semrush/semrush-tmb.avif" />
		<FolioCard
			link="./projects/automaton"
			role="gridcell"
			tabindex="0" aria-label="Grid item 6"
			title="Automaton AI"
			projectRole="Web Design • Web Development"
			projectDate="2024"
			backgroundColor="#460572"
			folioImage="./projects/automaton/automaton-tmb.avif" />
	</div>
	<div id="testimonial-grid" class="py-30 px-4 grid sm:grid-cols-1 md:grid-cols-3 grid-cols-1 gap-4">
		<Testimonial
			personLink="https://www.linkedin.com/in/david-r-thompson/"
			personImage="./persons/david.webp"
			personName="David Thompson"
			personRole="Acquisition Marketing Manager, Semrush"
			personTestimonial=`Valery's design skills were exceptional. His attention to detail and creativity stood out and he elevated every project he touched.
Valery is technically proficient and has great artistic vision which make him an invaluable asset for fast-paced marketing and design teams.`/>
		<Testimonial
			personLink="https://www.linkedin.com/in/barryvial/"
			personImage="./persons/barry.webp"
			personName="Barry Vial"
			personRole="Co-Founder, Liquid Group Of Companies"
			personTestimonial=`Valery is an excellent communicator which results in his quick uptake of complex concepts with very timely delivery that has always exceeded my expectations. I look forward to each project with him.
Across the board A+ experience.`/>
		<Testimonial
			personLink="https://www.linkedin.com/in/johnagaines/"
			personImage="./persons/john.webp"
			personName="John Gaines"
			personRole="Chief of Problem Solving, Healthcare Search LLC"
			personTestimonial=`Valery is a prince among men. His work is prompt and always precise. 

Whenever I receive the finished product I always am stunned by what he has put together in such a short time.
Valery ALWAYS over delivers.

You cannot go wrong here!`/>
	</div>
	<ContactMe />
</div>
</Layout>
