---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import FolioCard from "..//components/FolioCard.astro";
import Testimonial from "../components/Testimonial.astro";
import ContactMe from "../components/ContactMe.astro";
// import data from "../data.js";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Valeri Ciutac | Design Engineer & Strategic Brand Partner"
  description="Multi-disciplinary designer specializing in the intersection of motion, brand identity, and high-performance web systems. Providing full-cycle creative direction for companies that demand engineering precision and aesthetic excellence."
>
  <div class="flex flex-col gap-2 max-w-7xl mx-auto">
    <div
      id="hero"
      class="lg:min-h-[30vh] min-h-[55vh] flex flex-col gap-6 justify-center items-center"
    >
      <h1
        class="lg:text-5xl text-3xl font-bold text-center sm:px-0 px-10 max-w-[40ch]"
      >
        Technical UI Designer
      </h1>
      <span class="text-center lg:text-lg text-sm px-6 max-w-[70ch]">
        Specializing in <strong>production-ready interfaces</strong> for companies
        that balance aesthetics, usability, and technical feasibility. I use
        <strong>AI-augmented workflows and frontend development skills</strong> to
        create UI that speeds up product development and enhances user experience.
      </span>
    </div>

    <!-- <div
      class="relative flex items-center justify-center lg:min-h-[30vh] min-h-[55vh] w-full bg-[#1a1a1a] overflow-hidden"
    >
      <div
        class="absolute w-[80%] h-[60%] bg-[#8659D120] rounded-[4rem] blur-[80px]"
      >
      </div>
      <div class="relative z-10 text-white text-center">
        <h1 class="text-3xl font-bold">Technical UI Designer</h1>
        <span class="text-center lg:text-lg text-sm px-6 max-w-[70ch]">
          Specializing in <strong>production-ready interfaces</strong> for companies
          that balance aesthetics, usability, and technical feasibility. I use
          <strong>AI-augmented workflows and frontend development skills</strong
          > to create UI that speeds up product development and enhances user experience.
        </span>
      </div>
    </div> -->

    <div
      role="grid"
      id="foliocards-grid"
      class="grid grid-cols-1 lg:grid-cols-12 lg:grid-rows-2 md:grid-cols-2 gap-6 px-4"
    >
      <FolioCard
        projectTags={[
          "End-to-End Design",
          "User flow design",
          "",
        ]}
        className="lg:col-span-12 lg:row-span-1 lg:col-start-1"
        link="./projects/bazinga"
        title="Bazinga AI"
        projectFocus="Brand Systems and UX Adaptation"
        projectDate=""
        backgroundColor="var(--color-bazinga)"
        backgroundColorVariation="var(--color-bazinga2)"
      />

      <FolioCard
        projectTags={[
          "Git integration",
          "UI Design",
          "Blazor Component Library",
        ]}
        className="lg:row-start-2 lg:col-span-6 lg:row-span-1 lg:col-end-7 lg:col-start-1"
        link="./projects/dimensio"
        title="Dimensio"
        projectFocus="Brand Systems and Marketing Optimization"
        projectDate=""
        backgroundColor="var(--color-dimensio)"
        backgroundColorVariation="var(--color-dimensio2)"
      />

      <FolioCard
        projectTags={[
          "WebGL Optimization",
          "AI-Integrated WebGL",
          "Web 3D Experiment",
        ]}
        className="lg:col-span-6 lg:grid-col-start-7 lg:row-start-2"
        link="./projects/mytarotlife"
        title="My Tarot Life"
        projectFocus="Engaging Landing Page"
        backgroundColor="var(--color-mytarotlife)"
        backgroundColorVariation="var(--color-mytarotlife2)"
      />

      <!-- <FolioCard
        projectTags={[
          "WebGL Optimization",
          "AI-Integrated WebGL",
          "Web 3D Experiment",
        ]}
        className="lg:col-span-2 lg:row-span-2 lg:row-start-3 lg:col-end-4 lg:col-start-2"
        link="./projects/semrush"
        title="Semrush"
        projectFocus="On Brand asset management and design"
        backgroundColor="var(--color-semrush"
        backgroundColorVariation="var(--color-semrush2)"
      /> -->

      <!-- <FolioCard
        projectTags={[
          "WebGL Optimization",
          "AI-Integrated WebGL",
          "Web 3D Experiment",
        ]}
        className="lg:col-span-1 lg:row-span-2 lg:row-start-3 "
        link="./projects/writetic"
        title="Writetic"
        projectFocus="Optimizing Landing page for SEO and Page Speed"
        backgroundColor="var(--color-writetic)"
        backgroundColorVariation="var(--color-writetic2)"
      /> -->

      <!-- <FolioCard
        projectTags={[
          "WebGL Optimization",
          "AI-Integrated WebGL",
          "Web 3D Experiment",
        ]}
        className="lg:col-span-2 lg:row-span-1 lg:row-start-5 lg:col-end-3 lg:col-start-1"
        link="./projects/nemesysco"
        title="Nemesysco"
        projectFocus="Adjusting UX and Optimizing App Design"
        backgroundColor="var(--color-nemesysco)"
        backgroundColorVariation="var(--color-nemesysco2)"
      /> -->

      <!-- <FolioCard
        projectTags={[
          "WebGL Optimization",
          "AI-Integrated WebGL",
          "Web 3D Experiment",
        ]}
        className="lg:col-span-1 lg:row-span-1"
        link="./projects/openlm"
        title="OpenLM"
        projectFocus="Informational Design and Landing Page optimization"
        backgroundColor="var(--color-openlm)"
        backgroundColorVariation="var(--color-openlm2)"
      /> -->
    </div>

    <div class="flex flex-col gap-10 items-center py-30">
      <h2 class="text-3xl">What my clients say</h2>

      <div
        role="list"
        id="testimonial-grid"
        class="px-4 grid sm:grid-cols-1 md:grid-cols-3 grid-cols-1 gap-4"
      >
        <Testimonial
          personLink="https://www.linkedin.com/in/david-r-thompson/"
          personImage="./persons/david.webp"
          personName="David Thompson"
          personRole="Acquisition Marketing Manager, Semrush"
          personTestimonial=`Valery's design skills were exceptional. His attention to detail and creativity stood out and he elevated every project he touched.
Valery is technically proficient and has great artistic vision which make him an invaluable asset for fast-paced marketing and design teams.`
        />
        <Testimonial
          personLink="https://www.linkedin.com/in/barryvial/"
          personImage="./persons/barry.webp"
          personName="Barry Vial"
          personRole="Co-Founder, Liquid Group Of Companies"
          personTestimonial=`Valery is an excellent communicator which results in his quick uptake of complex concepts with very timely delivery that has always exceeded my expectations. I look forward to each project with him.
Across the board A+ experience.`
        />
        <Testimonial
          personLink="https://www.linkedin.com/in/johnagaines/"
          personImage="./persons/john.webp"
          personName="John Gaines"
          personRole="Chief of Problem Solving, Healthcare Search LLC"
          personTestimonial=`Valery is a prince among men. His work is prompt and always precise. 

Whenever I receive the finished product I always am stunned by what he has put together in such a short time.
Valery ALWAYS over delivers.

You cannot go wrong here!`
        />
      </div>
    </div>
    <ContactMe />
  </div>
</Layout>
