---
import "../styles/global.css";
const {conclusionText, conclusionTitle} = Astro.props
---

<div class="max-w-7xl mx-auto flex flex-col gap-10 px-4 py-10">
    <h3 class="text-3xl font-bold">{conclusionTitle}</h3>
    <p>{conclusionText}</p>
</div>