---
import "../styles/global.css";
---

<div class="w-full">
  <div
    class="max-w-7xl mx-auto flex flex-col gap-4 px-4 py-20 border-0 border-t-1 border-b-1"
  >
    <h3 class="font-bold text-3xl">Got an idea for a project?</h3>
    Or have any burning questions ?

    <p>
      Shoot me an email to get started! <span>
        <a href="mailto:valericiutac@gmail">valericiutac@gmail.com</a></span
      >
    </p>
  </div>
</div>
