---
import "../styles/global.css";
---

<div class="w-full">
  <div
    class="max-w-7xl mx-auto flex flex-col gap-4 px-4 py-20 border-0 border-t border-b border-gray-100/50"
  >
    <h6 class="font-bold text-3xl">Got an idea for a project?</h6>
    <a href="mailto:valericiutac@gmail" class="underline"
      >Shoot me an email to get started!
    </a>
  </div>
</div>
