---
import "../styles/global.css";
---

<div class="w-full h-40 items-center mt-[10vh]">
    <div class="flex h-20 flex-row justify-between mx-auto sm:px-4 px-4 items-center">
        <div>
            <a href="/" class="text-lg font-bold text-black">© 2024 All Rights Reserved</a>
        </div>
        <div class="flex flex-row gap-4">
            <a href="/about" class="text-xl font-bold text-black transition duration-100 hover:translate-y-[-4px]">About</a>
            <a href="/contact" class="text-xl font-bold text-black transition duration-100 hover:translate-y-[-4px]">Contact</a>
            <a href="https://www.behance.net/valerychutak" class=" text-black transition duration-100 hover:translate-y-[-4px] ">
                <img src="../behance-icon.svg" alt="behance icon">
            </a>
            <a href="https://www.instagram.com/valerichutak/" class=" text-black transition duration-100 hover:translate-y-[-4px] ">
                <img src="../instagram-icon.svg" alt="instagram icon">
            </a>
            <a href="https://www.behance.net/valerychutak" class=" text-black transition duration-100 hover:translate-y-[-4px] ">
                <img src="../linkedin-icon.svg" alt="linkedin icon">
            </a>
        </div>
    </div>
</div>