---
import "../styles/global.css";
---

<div class="max-w-7xl h-40 items-center mt-[10vh] mx-auto">
    <div class="flex h-20 sm:flex-row  flex-col justify-between  sm:px-4 px-4 items-center">
        <div>
            <p class="text-lg font-bold text-black">© 2025 All Rights Reserved</p>
        </div>
        <div class="flex flex-row gap-4">
                     <a href="https://www.behance.net/valerychutak" class=" text-black transition duration-100 hover:translate-y-[-4px] ">
                <img src="../behance-icon.svg" alt="behance icon">
            </a>
            <a href="https://www.instagram.com/valerichutak/" class=" text-black transition duration-100 hover:translate-y-[-4px] ">
                <img src="../instagram-icon.svg" alt="instagram icon">
            </a>
            <a href="https://www.behance.net/valerychutak" class=" text-black transition duration-100 hover:translate-y-[-4px] ">
                <img src="../linkedin-icon.svg" alt="linkedin icon">
            </a>
        </div>
    </div>
</div>