---
import "../styles/global.css";
type Props = {
  title: string;
  subtitle?: string;
};
const { title, subtitle } = Astro.props;
---

<div class="max-w-7xl flex flex-col content-start gap-4 px-4 sm:py-10 py-6">
  <h4 class="text-2xl font-bold border-l-4 pl-4 text-left">{title}</h4>
  {subtitle && <p class="max-w-[70ch]">{subtitle}</p>}
</div>
