---
import "../styles/global.css";
---

<div class="w-full h-20">
    <div class="h-20 flex flex-row justify-between mx-auto">
        <div>
            <a href="/" class="text-2xl font-bold text-black">VALERI CIUTAC</a>
        </div>
        <div class="flex flex-row gap-4">
            <a href="/about" class="text-2xl font-bold text-black">About</a>
            <a href="/contact" class="text-2xl font-bold text-black">Contact</a>
        </div>
    </div>
</div>