<div
  role="navigation"
  class="w-full border-b border-gray-100/50 sticky top-0 bg-(--background) z-50"
>
  <div class="max-w-7xl h-26 items-center mx-auto content-center">
    <div
      class="flex sm:flex-row flex-col items-center gap-y-4 justify-between sm:px-4 px-4"
    >
      <div>
        <a href="/" class="sm:text-xl text-md font-bold">VALERI CIUTAC</a>
      </div>
      <ul class="flex flex-row gap-4 items-center">
        <li class="hover:translate-y-1 transition duration-100 cursor-pointer">
          <a
            class="text-(--text) px-4 py-2 hover:translate-y-1 transition duration-100 cursor-pointer"
            href="/">Projects</a
          >
        </li>
        <li class="hover:translate-y-1 transition duration-100 cursor-pointer">
          <a class="text-(--text) lg:text-lg text-sm px-4 py-2" href="/about"
            >About</a
          >
        </li>

        <li>
          <a href="mailto:valerichutak@gmail.com">
            <button
              class="rounded-lg bg-(--text) text-sm text-(--background) lg:px-4 px-2 py-1 lg:py-2 hover:translate-y-1 transition duration-100 cursor-pointer"
              >Contact</button
            >
          </a>
        </li>
        <li class="text-black transition duration-100 hover:translate-y-1">
          <a target="_blank" href="https://www.linkedin.com/in/valery-chutak">
            <svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.4414 8.94189C18.0327 8.94189 19.5588 9.57404 20.684 10.6993C21.8093 11.8245 22.4414 13.3506 22.4414 14.9419V21.9419H18.4414V14.9419C18.4414 14.4115 18.2307 13.9028 17.8556 13.5277C17.4805 13.1526 16.9718 12.9419 16.4414 12.9419C15.911 12.9419 15.4023 13.1526 15.0272 13.5277C14.6521 13.9028 14.4414 14.4115 14.4414 14.9419V21.9419H10.4414V14.9419C10.4414 13.3506 11.0735 11.8245 12.1988 10.6993C13.324 9.57404 14.8501 8.94189 16.4414 8.94189Z"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M6.44141 9.94189H2.44141V21.9419H6.44141V9.94189Z"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M4.44141 6.94189C5.54598 6.94189 6.44141 6.04646 6.44141 4.94189C6.44141 3.83732 5.54598 2.94189 4.44141 2.94189C3.33684 2.94189 2.44141 3.83732 2.44141 4.94189C2.44141 6.04646 3.33684 6.94189 4.44141 6.94189Z"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
