---
import "../styles/global.css";
---

<div class="w-full border-b sticky top-0 bg-(--background) z-50">
  <div class="max-w-7xl h-26 items-center mx-auto content-center">
    <div
      class="flex sm:flex-row flex-col items-center gap-y-4 justify-between sm:px-4 px-4"
    >
      <div>
        <a href="/" class="sm:text-2xl text-lg font-bold">VALERI CIUTAC</a>
      </div>
      <ul class="flex flex-row gap-4">
        <!-- <li
          class="sm:text-xl text-md font-medium text-black transition duration-100 hover:translate-y-[-4px] mr-6"
        >
          <a href="/about">About</a>
        </li>
        <li
          class="sm:text-xl text-md font-medium text-black transition duration-100 hover:translate-y-[-4px] mr-6"
        >
          <a href="/contact">Contact</a>
        </li> -->
        <!-- <li class="text-black transition duration-100 hover:translate-y-1">
          <a target="_blank" href="https://www.linkedin.com/in/valery-chutak">
            <img src="../linkedin-icon.svg" alt="linkedin icon" />
          </a>
        </li>
        <li class="text-black transition duration-100 hover:translate-y-1">
          <a target="_blank" href="https://www.behance.net/valerychutak">
            <img src="../behance-icon.svg" alt="behance icon" />
          </a>
        </li>
        <li class="text-black transition duration-100 hover:translate-y-1">
          <a target="_blank" href="https://www.instagram.com/valerichutak/">
            <img src="../instagram-icon.svg" alt="instagram icon" />
          </a>
        </li> -->
        <li class="text-black transition duration-100 hover:translate-y-1">
          <a target="_blank" href="https://www.linkedin.com/in/valery-chutak">
            <svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.4414 8.94189C18.0327 8.94189 19.5588 9.57404 20.684 10.6993C21.8093 11.8245 22.4414 13.3506 22.4414 14.9419V21.9419H18.4414V14.9419C18.4414 14.4115 18.2307 13.9028 17.8556 13.5277C17.4805 13.1526 16.9718 12.9419 16.4414 12.9419C15.911 12.9419 15.4023 13.1526 15.0272 13.5277C14.6521 13.9028 14.4414 14.4115 14.4414 14.9419V21.9419H10.4414V14.9419C10.4414 13.3506 11.0735 11.8245 12.1988 10.6993C13.324 9.57404 14.8501 8.94189 16.4414 8.94189Z"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M6.44141 9.94189H2.44141V21.9419H6.44141V9.94189Z"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M4.44141 6.94189C5.54598 6.94189 6.44141 6.04646 6.44141 4.94189C6.44141 3.83732 5.54598 2.94189 4.44141 2.94189C3.33684 2.94189 2.44141 3.83732 2.44141 4.94189C2.44141 6.04646 3.33684 6.94189 4.44141 6.94189Z"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </li>
        <li class="var(--text) transition duration-100 hover:translate-y-1">
          <a target="_blank" href="https://www.behance.net/valerychutak">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3 12H7.5C9.15685 12 10.5 10.6569 10.5 9V8.5C10.5 6.84315 9.15685 5.5 7.5 5.5H2V12V19H7.5C9.15685 19 10.5 17.6569 10.5 16V15.5C10.5 13.8431 9.15685 12.5 7.5 12.5H2.5"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linejoin="round"></path>
              <path
                d="M14.0001 14.5C13.8334 13 14.4001 10 18.0001 10C21.6001 10 22.1667 13 22.0001 14.5H14.0001ZM14.0001 14.5C14.0001 15.8333 14.8001 18.5 18.0001 18.5C19.7944 18.5 20.7838 17.8934 21.3294 17"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M16.5 6H20"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </li>
        <li class="text-black transition duration-100 hover:translate-y-1">
          <a target="_blank" href="https://www.instagram.com/valerichutak/">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17 2H7C4.23858 2 2 4.23858 2 7V17C2 19.7614 4.23858 22 7 22H17C19.7614 22 22 19.7614 22 17V7C22 4.23858 19.7614 2 17 2Z"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M15.9999 11.3701C16.1233 12.2023 15.9812 13.0523 15.5937 13.7991C15.2062 14.5459 14.5931 15.1515 13.8415 15.5297C13.09 15.908 12.2384 16.0397 11.4077 15.906C10.577 15.7723 9.80971 15.3801 9.21479 14.7852C8.61987 14.1903 8.22768 13.4229 8.09402 12.5923C7.96036 11.7616 8.09202 10.91 8.47028 10.1584C8.84854 9.40691 9.45414 8.7938 10.2009 8.4063C10.9477 8.0188 11.7977 7.87665 12.6299 8.00006C13.4788 8.12594 14.2648 8.52152 14.8716 9.12836C15.4784 9.73521 15.874 10.5211 15.9999 11.3701Z"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M17.5 6.5H17.51"
                stroke="var(--text)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
