---
import "../styles/global.css";
---

<div class="w-full border-b-1">
  <div class="max-w-7xl h-26 items-center mx-auto content-center">
    <div
      class="flex sm:flex-row flex-col items-center gap-y-4 justify-between sm:px-4 px-4"
    >
      <div>
        <a href="/" class="sm:text-2xl text-lg font-bold text-black"
          >VALERI CIUTAC</a
        >
      </div>
      <ul class="flex flex-row gap-4">
        <!-- <li
          class="sm:text-xl text-md font-medium text-black transition duration-100 hover:translate-y-[-4px] mr-6"
        >
          <a href="/about">About</a>
        </li>
        <li
          class="sm:text-xl text-md font-medium text-black transition duration-100 hover:translate-y-[-4px] mr-6"
        >
          <a href="/contact">Contact</a>
        </li> -->
        <li class="text-black transition duration-100 hover:translate-y-[-4px]">
          <a target="_blank" href="https://www.linkedin.com/in/valery-chutak">
            <img src="../linkedin-icon.svg" alt="linkedin icon" />
          </a>
        </li>
        <li class="text-black transition duration-100 hover:translate-y-[-4px]">
          <a target="_blank" href="https://www.behance.net/valerychutak">
            <img src="../behance-icon.svg" alt="behance icon" />
          </a>
        </li>
        <li class="text-black transition duration-100 hover:translate-y-[-4px]">
          <a target="_blank" href="https://www.instagram.com/valerichutak/">
            <img src="../instagram-icon.svg" alt="instagram icon" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
