---
import "../styles/global.css";
const {
  previousProjectLink,
  nextProjectLink,
  previousProjectTitle,
  nextProjectTitle,
} = Astro.props;
---

<svg
  width="17"
  height="15"
  viewBox="0 0 17 15"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M2.01562 7.59473H14.0156"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M9.01562 2.59473L14.0156 7.59475L9.01562 12.5947"
    stroke="black"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
</svg>

<div class="max-w-7xl mx-auto flex flex-col gap-10 px-4 py-10">
  <div class="flex flex-col gap-4">
    <h4 class="text-2xl text-center">See some of my other Projects</h4>
    <div class="flex sm:flex-row flex-col gap-4 justify-between">
      <a
        href={previousProjectLink}
        class="flex flex-col justify-center items-center sm:py-10 py-6 px-20 border rounded-lg group cursor"
      >
        <div class="inline-flex items-center gap-2">
          <svg
            width="30"
            height="15"
            viewBox="0 0 17 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="transition duration-1000 origin-right [stroke-dasharray:24] [stroke-dashoffset:24] group-hover:[stroke-dashoffset:0]"
              d="M14.9993 7.40527H1.98438"
              stroke="var(--text)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              class="group-hover:translate-x-[-4px] transition duration-100"
              d="M6.98511 12.4055L1.98511 7.40552L6.98511 2.40552"
              stroke="var(--text)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          {previousProjectTitle}
        </div>
      </a>
      <a
        href={nextProjectLink}
        class="flex flex-row justify-center items-center sm:py-10 py-6 px-20 border rounded-lg group"
      >
        <div class="inline-flex items-center gap-2">
          {nextProjectTitle}
          <svg
            width="30"
            height="15"
            viewBox="0 0 17 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="transition duration-1000 origin-left [stroke-dasharray:24] [stroke-dashoffset:24] group-hover:[stroke-dashoffset:0]"
              d="M2.01562 7.59473H14.0156"
              stroke="var(--text)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              class="group-hover:translate-x-[4px] transition duration-100"
              d="M9.01562 2.59473L14.0156 7.59475L9.01562 12.5947"
              stroke="var(--text)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>
