---
import "..//../styles/global.css";
import ProjectHeader from "..//../components/ProjectHeader.astro";
import Layout from "../../layouts/Layout.astro";
import ContentWithMedia from "../../components/ContentWithMedia.astro";
import Conclusion from "../../components/Conclusion.astro";
import SeeOtherProjects from "../../components/SeeOtherProjects.astro";
import TwoCards from "../../components/TwoCards.astro";
import Heading from "../../components/Heading.astro";
import FullWidthVideo from "../../components/FullWidthVideo.astro";
import ContactMe from "../../components/ContactMe.astro";
import ComparisonSlider from "../../components/ComparisonSlider.astro";
---

<Layout title="OpenLM Landing page design by Valeri Ciutac">
  <ProjectHeader
    projectName="OpenLM"
    projectRole="Web Design"
    projectDate="01-2022"
    projectImage="../../projects/openlm/OpenLM-header.webp"
    projectDescription="My goal for the project was to effectively communicate the advantages of the cloud version to our existing OpenLM customers. Instead of delving into introductory details about the OpenLM product, I focused on showcasing its features directly. The design aesthetic embraced simplicity and minimalism, using a snow-white theme to instill trust and provide an authentic representation of our product's capabilities. Pricing options were transparently presented without convoluted language. In the concluding section, I included a before-and-after comparison, emphasizing the streamlined experience of the Cloud solution."
  />
  <Heading title="The Objective" />
  <ContentWithMedia
    imageFirst={false}
    backgroundColor="#ffffff"
    imageCellWidth={8}
    imageCellOrder={2}
    contentCellWidth={4}
    contentCellOrder={1}
    contentImage="../../projects/openlm/mobile.webp"
    contentTitle="Mobile ready"
    contentDescription=""
  >
    <h3>Heeeeeey</h3>
  </ContentWithMedia>

  <ComparisonSlider
    lineColor="#00499C"
    imageBefore="../../projects/openlm/before.webp"
    imageAfter="../../projects/openlm/after.webp"
    --
  >
    description="A simple and fasr Before/After slider to showcase the
    simplicity of the Cloud implementation" />
    <!-- 
  <TwoCards
    backgroundColor="#ffffff"
    imageOne="../../projects/openlm/before.webp"
    imageTwo="../../projects/openlm/after.webp"
    cardOneTitle="Before"
    cardTwoTitle="After"
    cardOneDescription="lorem ipsum fjdlffjsfslfj lorem lorem ipsum fjdlffjsfslfjlorem ipsum fjdlffjsfslfjlorem ipsum fjdlffjsfslfj"
    cardTwoDescription="lorem ipsum fjdlffjsfslfj lorem ipsum fjdlffjsfslfj lorem ipsum fjdlffjsfslfj lorem ipsum fjdlffjsfslfj lorem ipsum fjdlffjsfslfj lorem ipsum fjdlffjsfslfj lorem ipsum fjdlffjsfslfj "
  /> -->
    <FullWidthVideo
      videoLink=`https://player.vimeo.com/video/834361465?badge=0&autopause=0&player_id=0&app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media`
      backgroundColor="#00499C"
      color="#ffffff"
      additionalText=`For the Hero image, I modeled a simple rocket and a stylized smoke trail that I can tweak and change based on feedback and how it looks on the actual web page. 
        Having such a flexible approach allowed me to iterate quickly and have new versions of the image almost instantaneously.`
      `
    />

    <Conclusion
      conclusionTitle="Conclusion"
      conclusionText1="No matter what, keep pushing"
      conclusionText2="No matter what, keep pushing"
      conclusionText3="No matter what, keep pushing"
    />
    <ContactMe />
    <SeeOtherProjects
      previousProjectLink="./nemesysco"
      nextProjectLink="./semrush"
      previousProjectTitle="Nemesysco"
      nextProjectTitle="Semrush"
    />
  </ComparisonSlider>
</Layout>
