---
import "..//../styles/global.css";
import ProjectHeader from '..//../components/ProjectHeader.astro';
import Layout from '../../layouts/Layout.astro';
import ContentWithMedia from "../../components/ContentWithMedia.astro";
import Conclusion from "../../components/Conclusion.astro";
import FullHeightImage from "../../components/FullHeightImage.astro";
import SeeOtherProjects from "../../components/SeeOtherProjects.astro";
import ContactMe from "../../components/ContactMe.astro";
---



<Layout title="Writetic landing page design by Valeri Ciutac">
    <ProjectHeader
        projectName="Writetic" 
        projectRole="Designer Web Designer" 
        projectDate="05-2023" 
        projectImage="../../projects/writetic/Writetic-header.webp" 
        projectDescription="Writetic is an AI-powered marketing platform designed to streamline content creation, campaign management, and team collaboration for small to medium-sized marketing teams. The platform integrates intelligent writing assistance, automated content optimization, and seamless team coordination tools to enhance productivity and creativity."/>
    <ContentWithMedia
        imageCellWidth=6
        contentCellWidth=6
        contentImage="../../projects/writetic/Writetic-templates.gif"
        contentImage2="../../projects/writetic/Writetic-templates.gif"

        contentTitle="Show, don't tell"
        contentDescription="Animations are crucial to get your point across in a simple and effectie way. Showing the user what the app is all about in a simplified UI view is a sure way to make them understand the vlue proposition, hilenot distracting them with unnecessary UI details and small elements.">
    <!-- <h2>HFKHFKDSHFKSHFKSHFHF</h2> -->
    </ContentWithMedia>
    <ContentWithMedia 
    imageBgColor="#6212ee"
    `   imageCellWidth=6
        contentCellWidth=6
        contentImage="../../projects/writetic/writetic-featureimage.webp"
        contentTitle="The new way to write"
        contentDescription=""
    />

<FullHeightImage 
        image="../../projects/writetic/writetic-full.webp"
        backgroundColor="#6229CE"/>
    <Conclusion 
        previousProjectLink="./automaton" 
        nextProjectLink="./semrush" 
        previousProjectTitle="Automaton" 
        nextProjectTitle="Semrush"/>
    <ContactMe />
    <SeeOtherProjects 
        previousProjectLink="./bazinga" 
        nextProjectLink="./nemesysco"
        previousProjectTitle="Bazinga AI" 
        nextProjectTitle="Nemesysco" />
</Layout> 
